ImageViewer/DesktopServices/Automation/TestClient/Service References/DicomExplorerAutomation/DicomExplorerAutomation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://www.clearcanvas.ca/imageViewer/automation" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="DicomExplorerAutomation" targetNamespace="http://www.clearcanvas.ca/imageViewer/automation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="DicomExplorerAutomation1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.clearcanvas.ca/imageViewer/automation/Imports">
      <xsd:import schemaLocation="http://localhost:51124/ClearCanvas/ImageViewer/DicomExplorer/Automation?xsd=xsd0" namespace="http://www.clearcanvas.ca/imageViewer/automation" />
      <xsd:import schemaLocation="http://localhost:51124/ClearCanvas/ImageViewer/DicomExplorer/Automation?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51124/ClearCanvas/ImageViewer/DicomExplorer/Automation?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDicomExplorerAutomation_SearchLocalStudies_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLocalStudies" />
  </wsdl:message>
  <wsdl:message name="IDicomExplorerAutomation_SearchLocalStudies_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLocalStudiesResponse" />
  </wsdl:message>
  <wsdl:message name="IDicomExplorerAutomation_SearchLocalStudies_NoLocalStoreFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:NoLocalStoreFault" />
  </wsdl:message>
  <wsdl:message name="IDicomExplorerAutomation_SearchLocalStudies_DicomExplorerNotFoundFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:DicomExplorerNotFoundFault" />
  </wsdl:message>
  <wsdl:message name="IDicomExplorerAutomation_SearchRemoteStudies_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchRemoteStudies" />
  </wsdl:message>
  <wsdl:message name="IDicomExplorerAutomation_SearchRemoteStudies_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchRemoteStudiesResponse" />
  </wsdl:message>
  <wsdl:message name="IDicomExplorerAutomation_SearchRemoteStudies_DicomExplorerNotFoundFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:DicomExplorerNotFoundFault" />
  </wsdl:message>
  <wsdl:message name="IDicomExplorerAutomation_SearchRemoteStudies_ServerNotFoundFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ServerNotFoundFault" />
  </wsdl:message>
  <wsdl:portType name="IDicomExplorerAutomation">
    <wsdl:operation name="SearchLocalStudies">
      <wsdl:input wsaw:Action="http://www.clearcanvas.ca/imageViewer/automation/IDicomExplorerAutomation/SearchLocalStudies" message="tns:IDicomExplorerAutomation_SearchLocalStudies_InputMessage" />
      <wsdl:output wsaw:Action="http://www.clearcanvas.ca/imageViewer/automation/IDicomExplorerAutomation/SearchLocalStudiesResponse" message="tns:IDicomExplorerAutomation_SearchLocalStudies_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.clearcanvas.ca/imageViewer/automation/IDicomExplorerAutomation/SearchLocalStudiesNoLocalStoreFaultFault" name="NoLocalStoreFaultFault" message="tns:IDicomExplorerAutomation_SearchLocalStudies_NoLocalStoreFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.clearcanvas.ca/imageViewer/automation/IDicomExplorerAutomation/SearchLocalStudiesDicomExplorerNotFoundFaultFault" name="DicomExplorerNotFoundFaultFault" message="tns:IDicomExplorerAutomation_SearchLocalStudies_DicomExplorerNotFoundFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchRemoteStudies">
      <wsdl:input wsaw:Action="http://www.clearcanvas.ca/imageViewer/automation/IDicomExplorerAutomation/SearchRemoteStudies" message="tns:IDicomExplorerAutomation_SearchRemoteStudies_InputMessage" />
      <wsdl:output wsaw:Action="http://www.clearcanvas.ca/imageViewer/automation/IDicomExplorerAutomation/SearchRemoteStudiesResponse" message="tns:IDicomExplorerAutomation_SearchRemoteStudies_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.clearcanvas.ca/imageViewer/automation/IDicomExplorerAutomation/SearchRemoteStudiesDicomExplorerNotFoundFaultFault" name="DicomExplorerNotFoundFaultFault" message="tns:IDicomExplorerAutomation_SearchRemoteStudies_DicomExplorerNotFoundFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.clearcanvas.ca/imageViewer/automation/IDicomExplorerAutomation/SearchRemoteStudiesServerNotFoundFaultFault" name="ServerNotFoundFaultFault" message="tns:IDicomExplorerAutomation_SearchRemoteStudies_ServerNotFoundFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DicomExplorerAutomation" type="tns:IDicomExplorerAutomation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchLocalStudies">
      <soap:operation soapAction="http://www.clearcanvas.ca/imageViewer/automation/IDicomExplorerAutomation/SearchLocalStudies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NoLocalStoreFaultFault">
        <soap:fault use="literal" name="NoLocalStoreFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DicomExplorerNotFoundFaultFault">
        <soap:fault use="literal" name="DicomExplorerNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchRemoteStudies">
      <soap:operation soapAction="http://www.clearcanvas.ca/imageViewer/automation/IDicomExplorerAutomation/SearchRemoteStudies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DicomExplorerNotFoundFaultFault">
        <soap:fault use="literal" name="DicomExplorerNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerNotFoundFaultFault">
        <soap:fault use="literal" name="ServerNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DicomExplorerAutomation1" type="tns:IDicomExplorerAutomation">
    <wsp:PolicyReference URI="#DicomExplorerAutomation1_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="SearchLocalStudies">
      <soap12:operation soapAction="http://www.clearcanvas.ca/imageViewer/automation/IDicomExplorerAutomation/SearchLocalStudies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NoLocalStoreFaultFault">
        <soap12:fault use="literal" name="NoLocalStoreFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DicomExplorerNotFoundFaultFault">
        <soap12:fault use="literal" name="DicomExplorerNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchRemoteStudies">
      <soap12:operation soapAction="http://www.clearcanvas.ca/imageViewer/automation/IDicomExplorerAutomation/SearchRemoteStudies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DicomExplorerNotFoundFaultFault">
        <soap12:fault use="literal" name="DicomExplorerNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerNotFoundFaultFault">
        <soap12:fault use="literal" name="ServerNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DicomExplorerAutomation">
    <wsdl:port name="DicomExplorerAutomation" binding="tns:DicomExplorerAutomation">
      <soap:address location="http://localhost:51124/ClearCanvas/ImageViewer/DicomExplorer/Automation" />
    </wsdl:port>
    <wsdl:port name="DicomExplorerAutomation1" binding="tns:DicomExplorerAutomation1">
      <soap12:address location="net.pipe://localhost/ClearCanvas/ImageViewer/DicomExplorer/Automation" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/ClearCanvas/ImageViewer/DicomExplorer/Automation</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>SBRIGHT\stewart</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>