Enterprise/VersionExecutable/Service References/ServiceReference/mex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/IVersionService/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClearCanvas.Enterprise.Common.ServerVersion" />
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClearCanvas.Enterprise.Common.ServerVersion" minOccurs="0" name="request" nillable="true" type="q1:GetVersionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClearCanvas.Enterprise.Common.ServerVersion" minOccurs="0" name="GetVersionResult" nillable="true" type="q2:GetVersionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>